body{
    font-size: 1rem;
    background-color: aliceblue;
}
div.main{
    margin: 0 auto;
    width: 80vw;
    padding: 2rem;
}

h1{
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
div#introduction{
    background-color: blanchedalmond;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hotpink;
}
div#introduction h3{
    font-size: 2rem;

}

@media only screen and (max-width: 400px) {
    div.main{
        margin: 0 auto;
        padding: 2rem;
    }
}
ul i{
    font-size: 2rem;
}
