body{
    font-size: 1rem;
    background-color: aliceblue;
}
ul,*{
    margin: 0;
    padding: 0;
    display: flex-block;
}
div.main{
    margin: 0 auto;
    width: 80vw;
    padding: 2rem;
}

h1{
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    font-size: 1.9rem;
    background-color: rgb(232, 247, 31);
    width: 60vw;
    height: 3rem;
    padding: 1rem  auto 0.9rem auto;
    margin-top: 7px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
div#introduction{
    background-color: blanchedalmond;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hotpink;
}
div#introduction h3{
    font-size: 2rem;

}
ul#todo{
    margin-bottom: 1.4rem;
}
@media only screen and (max-width: 400px) {
    div.main{
        margin: 0 auto;
        padding: 2rem;
    }
    ul li {
        font-size: 1.9rem;
        background-color: rgb(237, 252, 27);
        width: 90vw;
        height: 3rem;
        padding: 1rem  auto 0.9rem auto;
        margin-top: 7px;
        font-weight: 400;
        flex-wrap: wrap;
        flex-basis: content;
        font-family: Arial, Helvetica, sans-serif;
  }
}
ul i{
    font-size: 2rem;
}
ion-icon{
    cursor: pointer;
    color: darkred;
    margin-top: 1rem;
    margin-left: 11rem;
}